h1{
    width: 30;
    text-align: center;
    font-style: italic;
    background-color: grey;
    padding: 5px;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#153677, #4e085f);
    padding: 10px;}
#label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    
}
